@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: -0.3px;
  margin: 0;
  padding: 0;
  background: #212121;
}

.center-mid{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul{
  list-style: none;  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

li{
  display: flex;
  flex-direction: column;
  max-width: 26%;
  min-width: 150px;
  min-height: 50px;
  padding: 5%;
}

p{
  margin: 0;
  padding: 0;
}

img{
  height: 385px;
  /* margin-bottom: 10px; */
}

a.gradient-link{
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

a.gradient-link::after {
    content: '';
    width: 5%;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;    
    background: linear-gradient(45deg, #0947db, #07d89d);
    transition: all 0.8s cubic-bezier(0.2,1,0.3,1);
    z-index: -1;
    color: #000000;
}

a.gradient-link:hover::after{
    width: 100%;
}

